$color-primary: #FDC938;
$color-second: #2F3F7E;
$color-default: #575757;
$color-shade-dark: #D4D4D4;
$color-shade-light: #F3F3F3;

$spacing-xxl: 148px;
$spacing-xl: 64px;
$spacing-l: 48px;
$spacing-m: 32px;
$spacing-s: 16px;
$spacing-xs: 12px;
$spacing-xxs: 8px;


.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $spacing-xxs;
  max-width: 328px;
  margin: 0 auto;

  @media screen and (min-width: 1120px) {
    column-gap: $spacing-m;
    max-width: 1120px;
  }
}

.header {
  background: $color-primary;

  &__title {
    color: $color-second;
    grid-column: 1 / 13;
  }
}

.form__todo {
  grid-column: 3 / 11;
}
